.hint-text {
  font-size: 12px;
  color: #aaa;
}

.input-label {
  font-size: 16px;
  color: black;
}

.link-generator-form__text {
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 16px;
  margin-top: 10px;
  border: 1px solid rgba(150, 150, 150);
}

.link-generator-form__button {
  padding: 5px 10px;
  margin-top: 10px;
}

.link-generator-form {
  max-width: 500px;
}
