@import "utils";

.thread-list {
  margin-top: 20px;
  @include phone {
    flex-direction: column;
  }
  .thread-card-link {
    margin-right: 20px;

    @include phone {
      margin-right: 0px;
    }
  }
}
